<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="gms/layout/basic">


<div class="wrapper">
<th:block layout:fragment="content"> 
<script type="text/javascript">

var isOkay = false;
$(document).ready(function(){
	$("#businessRegId").on("focusout", function(){
		if($(this).val() != ""){
			checkName();
		}
	});
	
	
	
});
// 리스트 페이지 이동
var goList = function(){
	$("#listForm").submit();
};

// form 필드값 유효성 검사
var validation = function(){
	/*
	var customerNm = $("#customerNm").val();
	if(customerNm=="" || customerNm == null){
		alert("거래처명을 입력해 주세요.");
		$("#customerNm").focus();
		isOkay = false;
		return;
	}
	*/
	var result = (
			isValid(customerNm, "거래처명", null, null)
		&& isValid(customerAddr, "거래처주소", null, null)
		&&  isValid(customerPhone, "거래처연락처", null, "phone")			
		&& isValid(salesId, "영업 담당자", null, null)
	);
	
	if ( result === false ) {
		isOkay = false;
		return;
	}else{
		isOkay = true;
		return;
}

isOkay = true;
}

//서버에 버전 데이터 존재 여부 확인 요청
var checkName = function(){
	var businessRegId = $("#businessRegId").val();

	var ajaxInfo ={
		type:"POST",
		url:"/gms/customer/CheckBusiId.do",
		data:{
			businessRegId : businessRegId
		},
		dataType: "json",
	};
	ajax = callAjax(ajaxInfo);
	ajax.done(function(data){
		if(data.result == "fail"){
			alert(data.message);
			$("#businessRegId").val("");
			$("#businessRegId").focus();
			isOkay = false;
			return;
		}
	});
};

//Ajax공통 호출
function callAjax(ajaxInfo){
	var dfd = $.Deferred();
	$.ajax(ajaxInfo).done(function(data){
		dfd.resolve(data);
	});
	
	return dfd.promise();
}


//숫자 여부 검사
function isNumber(input){
	var chars = "0123456789";
		return containsCharsOnly(input,chars);
};

function containsCharsOnly(input,chars) {
	input = String(input);
	for (var inx = 0; inx < input.length; inx++) {
		if (chars.indexOf(input.charAt(inx)) == -1) {
			return false;
		}else{
		}
	};
	return true;
};

// 입력된 내용을 작성한다.
var goWrite = function(){
	validation();
	
	alert("isOkay=="+isOkay);
	if(!isOkay){
		return;
	}
	
	var form = $("#writeForm");	
	
	form.submit();
}
	
</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>거래처 등록</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">   
        
        <div class="row">
          <div class="col-12">          
              
             <!-- general form elements -->                        
              <!-- /.card-header -->
            <div class="col-8">
              <div class="card">
              <form id="writeForm" class="form-horizontal" th:action="@{/gms/customer/modify.do}" th:object="${customer}" method="post" >
                <input type="hidden" id="customerId" name="customerId" th:value="${customer.customerId}">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="card-footer">거래처명</th>
                      <th><input type="text" class="form-control" id="customerNm" name="customerNm"  th:value="${customer.customerNm}"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">사업자등록번호</th>
                      <th><input type="text" class="form-control" id="businessRegId" name="businessRegId" th:value="${customer.businessRegId}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">거래처 대표</th>
                      <th><input type="text" class="form-control" id="customerRepNm" name="customerRepNm" th:value="${customer.customerRepNm}"> </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">거래처 업태</th>
                      <th><input type="text" class="form-control" id="customerBusiType" name="customerBusiType" th:value="${customer.customerBusiType}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">거래처 종목</th>
                      <th><input type="text" class="form-control" id="customerItem" name="customerItem" th:value="${customer.customerItem}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">거래처 주소</th>
                      <th><input type="text" class="form-control" id="customerAddr" name="customerAddr" th:value="${customer.customerAddr}"> </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">거래처 연락처</th>
                      <th><input type="text" class="form-control" id="customerPhone" name="customerPhone" th:value="${customer.customerPhone}"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">거래처 이메일</th>
                      <th><input type="text" class="form-control" id="customerEmail" name="customerEmail" th:value="${customer.customerEmail}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">영업 담당자</th>
                      <th>
                       <select id="salesId" name="salesId" class="form-control">
                        <option value="0">영업담당자</option>
                      	<option th:each="row : ${userList}"
					                th:text="${row.userNm}"
					                th:value="${row.userId}"
					               th:if="${customer.salesId ==row.userId}" selected>
					     </option>	
					     <option th:each="row : ${userList}"
					                th:text="${row.userNm}"
					                th:value="${row.userId}"
					               th:unless="${customer.salesId ==row.userId}">
					     </option>		
					    </select>	                      
						</th>   
                    </tr>                   
                    
                  </thead>
                              
                </table>
                
                
              </div>
            </div>
            
            <!-- /.card -->
      		                          
              <!-- /.card-header -->
              
			<div class="col-8">
            <div class="card">        
            	
            	<table class="table table-hover">	         	
	         		<thead>
                    <tr>
                      <th>용기코드</th>
                      <th>용기바코드</th>
                      <th>가스</th>
                      <th>용량</th>
                      <th>구분</th>
                    </tr>
                  	</thead>
                  	<tbody>
                  	<tr th:if="${not #lists.isEmpty( bottleList )}" th:each="row : ${bottleList}">
                      <td th:text="${row.bottleId}"></td>
                      <td th:text="${row.bottleBarCd}"></td>                     
                      <td th:text="${row.gasNm}"></td>
                      <td th:text="${row.bottleCapa}"></td>
                      <td th:if="${row.bottleType=='E'}" th:text="공병"></td>
                      <td th:unless="${row.bottleType=='E'}" th:text="실병"></td>
                    </tr>
                  	</tbody>
               	</table>   
               </div>
            </div>
            <div class="col-8">
            <table class="table table-hover">
	         
            </div>
      		<div class="card-footer">
                 <a href="/gms/customer/list.do" class="btn btn-secondary float-left">취소</a>
		          <input type="button" value="저장" onclick="javascript:goWrite()" class="btn btn-success float-right">
                </div>		     		
            </form>   
          	<!-- /.col-12 -->
          </div>
        </div>      
        
        
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>
  

  