<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="gms/layout/basic">

<div class="wrapper">

<th:block layout:fragment="content"> 
<script type="text/javascript">	
	
	var fn_deleteUser = function(userId){
		var form = document.deleteform;	
		               		
		if(confirm("삭제하시겠습니까?")){	
			
			$("#userId").val(userId);  						
			
	        form.submit();			
		}                  		
	}
	
	// 입력된 내용을 작성한다.
	function goSearch(){	
		
		var form = document.mainForm;	
		
		form.submit();
	};


	function gotoPage(pageNo) {
		
		var form =  document.mainForm;			
		
		$("#currentPage").val(pageNo);  
    	
        //validate checkt시 confirm 중복되는 부분 처리 
        
    	mainForm.submit();
    }
</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>사용자 목록</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">          
        
    	<div class="row">
              <div class="col-1">
               		<label>사용자명</label> 
              </div>               
              <div class="col-5">
	              <form id="mainForm" name=""mainForm"" th:action="@{/gms/user/list.do}" method="post">
	              <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
	               <input type="text" id="searchUserNm" name="searchUserNm" class="form-control" placeholder="search" th:value="${searchUserNm}">
              </div>               
              <div class="col-5">
                <button class="btn btn-navbar" type="submit">
		            <i class="fas fa-search"></i>
		          </button>
           			</form>
              </div>
             
              <div class="col-1" align=right>
               		<a href="/gms/user/write.do"><button type="button" class="btn btn-block btn-outline-primary btn-sm"><i class="far fa-edit"></i> 등록</button></a>
              </div>
         </div>
        <div class="row">	
	        <div class="col-12">
	        <table>
	        	<tr>
			        <td th:if="${totalCount > 999 }" th:text="|총 ${#numbers.formatInteger(totalCount, 3, 'COMMA')}개|">
		            <td th:unless="${totalCount > 999  }" th:text="|총 ${totalCount}개|">
		        </tr>	         
	         </table>
	        </div>
        </div>
        <div class="row">	
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                <form id="deleteform" name="deleteform" th:action="@{/gms/user/delete.do}" method="post">
                	<input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
                	<input type="hidden" id="searchUserNm" name="searchUserNm" th:value="${searchUserNm}">
                	<input type="hidden" id="userId" name="userId" value="">
                </form>
                  <thead>
                    <tr style="font-size:14px;">
                      <th>순번</th>
                      <th>사용자명</th>
                      <th>ID</th>
                      <th>권한</th>
                      <th>부서</th>
                      <th>연락처</th>
                      <th>최종접속일</th>
                      <th>등록일</th>
                      <th>삭제</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:if="${not #lists.isEmpty( userList )}" th:each="row : ${userList}"  style="font-size:14px;">
                      <td th:text="${totalCount-((currentPage-1) * rowPerPage) - userList.indexOf(row)}"></td>
                      <th>
                      <a th:href="@{/gms/user/update.do( userId=${row.userId} )}" th:text="${row.userNm}"></a>
                      </th>
                      <th th:text="${row.userId}"></th>
                      <td th:if="${row.userAuthority =='01'}" th:text="사용자">
                      <td th:unless="${row.userAuthority =='01'}" th:text="관리자">
                      </td>
                      <td th:text="${row.userPartNm}"></td>
                      <td th:text="${row.userPhone}"></td>
                      <td th:text="${#calendars.format( row.lastConnectDt, 'yyyy-MM-dd' )}"></td>
                      <td th:text="${#calendars.format( row.createDt, 'yyyy-MM-dd' )}"></td>
                      <td> 
                      <a class="btn btn-danger btn-xs" href="#" th:onclick="fn_deleteUser([[ ${row.userId} ]])">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>                          
                      </td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( userList )}">
						<td colspan="8">조회된 결과가 없습니다.</td>
					</tr>						
                  </tbody>
					
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>    
        <!-- /.row -->
        
         <div class="row">								
			<div class="col-12">
				<div class="pagination justify-content-center m-0" id="example2_paginate">
					<ul class="pagination" style="font-size:14px;">
						<li th:if="${currentPage > 1}" class="paginate_button page-item previous" id="example2_previous">
							<a th:href="@{/gms/user/list.do(currentPage=${currentPage -1})}" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">이전</a>
						</li>
						
						<li th:if="${currentPage<=1}" class="paginate_button page-item previous disabled" id="example2_previous">
							<a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">이전</a>
						</li>
						<th:block th:each="num:${#numbers.sequence(startPageNum, lastPageNum)}">
						
						<li th:if="${currentPage == num}" class="paginate_button page-item active">
							<a href="#" th:onclick="gotoPage([[ ${num} ]])" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">[[${num}]]</a>
						</li>
					
						<li th:unless="${currentPage == num}" class="paginate_button page-item">
							<a href="#" th:onclick="gotoPage([[ ${num} ]])" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">[[${num}]]</a>
						</li>
						</th:block>
					
						<li th:if="${currentPage < lastPage}" class="paginate_button page-item next" id="example2_next">
						<a th:href="@{/gms/user/list.do(currentPage=${currentPage +1})}" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">다음</a>
						</li>
						<li th:if="${currentPage >= lastPage}" class="paginate_button page-item next disabled" id="example2_next">
						<a href="#"  aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">다음</a>
						</li>
        			</ul>
				</div>
			</div>
		</div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>

</body>
</html>