<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{gms/layout/blank}">

<th:block layout:fragment="content"> 
  <!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<table border="0" cellpadding="0" cellspacing="0" width="1266" style="border-collapse:collapse;width:954pt;">

 <colgroup><col width="16" style="width:12pt;">
 <col width="69" span="18" style="width:52pt;">
 <col width="8" style="width:6pt;">
 </colgroup><tbody><tr height="24" style="height:18.0pt;">
  <td height="24" width="16" style="height:18.0pt;width:12pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="69" style="width:52pt;"><br></td>
  <td width="8" style="width:6pt;"><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="16" rowspan="2" width="1104" style="color:#0606DE;font-size:18.0pt;font-weight:700;text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:832pt;"><font>거 래 명 세 서<span>      </span></font><font style="font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;(공급받는자 보관용)</font></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1.5pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">거래일자</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">2020-08-18</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td rowspan="4" width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:52pt;">공<br>
    급<span>        </span><br>받<span>        </span><br>는 <br>
    자</td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">거<span>  </span>래<span> 
  </span>처<span>  </span>명</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:none;border-left:none;white-space:normal;width:312pt;" th:text="${customer.customerNm}">해피키즈치과</td>
  <td rowspan="4" width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1pt solid #0606DE;white-space:normal;width:52pt;">공<span> <br>                           </span><br>
    <span>              </span>급<br><br>
    <span>            </span>자</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">일<span>  </span>련<span>  </span>번<span>  </span>호</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:text="|${#calendars.format(#calendars.createNow(), 'yyyyMMdd')}-${orderExt.order.orderId}|">201911271047-1</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">사업자등록번호</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" >234-81-02444</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:104pt;">사업자등록번호</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:312pt;" th:text="${customer.businessRegId}">131-91-37304</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">상<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
  </span>호</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">(주)대한특수가스</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">이<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
  </span>름</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">김호성</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:104pt;">주<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          </span>소</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:312pt;" th:text="${customer.CustomerAddr}">　</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">주<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
  </span>소</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:312pt;">경기도 김포시 하성면 하성로 710</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:none;border-left:none;white-space:normal;width:104pt;">전<span>  </span>화<span> 
  </span>번<span>  </span>호</td>
  <td colspan="6" width="414" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:312pt;" th:text="${customer.CustomerPhone}">032-813-2207</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">전<span>  </span>화<span>  </span>번<span>  </span>호</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:312pt;">T : 02-3663-2825 / F : 031-984-5214</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:52pt;">월</td>
  <td width="69" style="text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:52pt;">일</td>
  <td colspan="3" width="207" style="text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:156pt;">품 목 명</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:52pt;">용
  량</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:52pt;">수
  량</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">단 가</td>
  <td colspan="3" width="207" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:156pt;">공 급 가
  액</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">부 가 세</td>
  <td colspan="4" width="276" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:208pt;">적 요</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;" th:if="${not #lists.isEmpty( orderExt.orderProduct )}" th:each="row : ${orderExt.orderProduct}">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:52pt;" th:text="${#calendars.format( orderExt.order.deliveryReqDt, 'MM' )}">8</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:52pt;" th:text="${#calendars.format( orderExt.order.deliveryReqDt, 'dd' )}">　</td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:156pt;" th:text="${row.productNm}">O2(의료용)</td>
  <td align="right" width="69" style="border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:52pt;" th:text="|${row.productCapa}&nbsp;|">40</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:52pt;" th:text="${row.orderCount}">1</td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:if="${row.orderAmount > 0}"  th:text="${#numbers.formatDecimal(row.orderAmount/row.orderCount, 3, 'COMMA' ,2,'POINT')}"><span>                 </span>20,000 </td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:unless="${row.orderAmount > 0}"  th:text="${row.orderAmount}"><span>                 </span>20,000 </td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:156pt;" th:if="${row.orderAmount > 999}" th:text="${#numbers.formatDecimal(row.orderAmount, 3, 'COMMA' ,2,'POINT')}"><span>                               </span>20,000 </td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:156pt;" th:unless="${row.orderAmount > 999}" th:text="${row.orderAmount}"><span>                               </span>20,000 </td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:if="${row.orderAmount*0.1 > 999}" th:text="${#numbers.formatDecimal(row.orderAmount*0.1, 3, 'COMMA' ,2,'POINT')}"><span>                 </span>20,000 </td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:unless="${row.orderAmount*0.1 > 999}" th:text="${row.orderAmount*0.1}"><span>                 </span>20,000 </td>
  <td colspan="4" width="276" style="text-align:center;border-top:none;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:208pt;" th:text="${row.orderProductEtc}">주문없이추가</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;" th:each="seq : ${#numbers.sequence(1,12-orderExt.orderProduct.size() )}">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:52pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td colspan="3" width="207" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:156pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:104pt;">　</td>
  <td colspan="3" width="207" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:156pt;">　</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-left:none;width:104pt;">　</td>
  <td colspan="4" width="276" style="text-align:center;border:1pt solid #0606DE;white-space:normal;border-right:1.5pt solid #0606DE;border-left:none;width:208pt;">　</td>
  <td><br></td>
 </tr>
 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:52pt;">비고</td>
  <td colspan="8" style="text-align:center;border-top:1pt solid #0606DE;border-right:none;border-bottom:1.5pt solid #0606DE;border-left:none;" th:text="${orderExt.order.orderEtc}">가천대 201호로 납품 바랍니다.</td>
  <td colspan="3" width="207" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:156pt;">합<span>     </span>계<span>     </span>금<span>   
  </span>액</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;" th:text="${#numbers.formatDecimal(orderExt.order.orderTotalAmount*1.1, 3, 'COMMA',2,'POINT')}">22,000</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">인 수 자</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:right;border-top:1.5pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">(인)</td>
  <td><br></td>
 </tr> 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:104pt;">결<span>  </span>제<span> 
  </span>방<span>  </span>식</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:104pt;">온라인
  송금</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:52pt;">현금</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid #0606DE;border-left:1pt solid #0606DE;white-space:normal;width:52pt;">카드</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid #0606DE;border-left:1pt solid #0606DE;white-space:normal;width:52pt;">미수</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:none;border-bottom:1pt solid #0606DE;border-left:1pt solid #0606DE;white-space:normal;width:104pt;">세금계산서 발행</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:1pt solid #0606DE;white-space:normal;width:104pt;">세금계산서 미발행</td>
  <td colspan="2" width="138" style="color:windowtext;;text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:104pt;"><span> </span>전 미수금액</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;"  th:if="${cashSum.receivableAmountNet> 999 }" th:text="${#numbers.formatDecimal(cashSum.receivableAmountNet, 3, 'COMMA' ,2,'POINT')}">258,000</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;"  th:unless="${cashSum.receivableAmountNet> 999 }" th:text="${cashSum.receivableAmountNet}">258,000</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:1pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:52pt;">총 합계</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;"  th:if="${ (cashSum.receivableAmountNet +orderExt.order.orderTotalAmount) > 999 }" th:text="${#numbers.formatDecimal( (cashSum.receivableAmountNet+orderExt.order.orderTotalAmount*1.1 ), 3, 'COMMA' ,2,'POINT')}">258,000</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:none;white-space:normal;width:104pt;"  th:unless="${ (cashSum.receivableAmountNet + orderExt.order.orderTotalAmount) > 999 }" th:text="${(cashSum.receivableAmountNet+orderExt.order.orderTotalAmount*1.1)}">258,000</td>
  <td><br></td>
 </tr> 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="3" width="207" style="text-align:center;border-top:1pt solid #0606DE;border-right:1pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:156pt;">대여용기 현황</td>
  <td colspan="15" width="1035" style="text-align:center;border-top:1pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1pt solid #0606DE;border-left:none;white-space:normal;width:780pt;" th:text="${rentBottle}">O2 1ea / CO2 3ea / N2O 2ea / N2 5ea</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="18" width="1242" style="font-weight:700;text-align:center;border-top:1.5pt solid #0606DE;border-right:1.5pt solid #0606DE;border-bottom:1.5pt solid #0606DE;border-left:1.5pt solid #0606DE;white-space:normal;width:936pt;">신한은행 : 100-030-184022 [예금자명 : ㈜대한특수가스]<span>      </span>/<span>     
  </span>e-mail : daehangas1@daum.net</td>
  <td><br></td>
 </tr>
 <tr height="23" style="height:17.4pt;">
  <td height="23" style="height:17.4pt;"><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
 </tr>
 <tr height="24" style="height:18.0pt;">
  <td colspan="20" height="24" style="height:18.0pt;">
 	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 	<td>
 </tr>
 <tr height="24" style="height:18.0pt;">
  <td height="24" style="height:18.0pt;"><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="16" rowspan="2" width="1104" style="color:red;font-size:18.0pt;font-weight:700;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:1.5pt solid red;white-space:normal;width:832pt;"><font>거 래 명 세 서<span>      </span></font><font style="font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;(공급받는자 보관용)</font></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">거래일자</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1.5pt solid red;border-bottom:none;border-left:none;white-space:normal;width:104pt;" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">2020-08-18</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td rowspan="4" width="69" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:1.5pt solid red;white-space:normal;width:52pt;">공<br>
    급<span>        </span><br>받<span>        </span><br>는 <br>
    자</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">거<span>  </span>래<span> 
  </span>처<span>  </span>명</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:312pt;" th:text="${customer.customerNm}">해피키즈치과</td>
  <td rowspan="4" width="69" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:1pt solid red;white-space:normal;width:52pt;">공<span>                           
  </span><br><br>
    <span>              </span>급<br><br>
    <span>            </span>자</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">일<span>  </span>련<span> 
  </span>번<span>  </span>호</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;" th:text="|${#calendars.format(#calendars.createNow(), 'yyyyMMdd')}-${orderExt.order.orderId}|">201911271047-1</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">사업자등록번호</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">234-81-02444</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">사업자등록번호</td>
  <td colspan="6" width="414" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:312pt;" th:text="${customer.businessRegId}">131-91-37304</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">상<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>호</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">(주)대한특수가스</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">이<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>름</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-right:1.5pt solid red;border-left:none;width:104pt;">김호성</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">주<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>소</td>
  <td colspan="6" width="414" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:312pt;" th:text="${customer.CustomerAddr}">　</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">주<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>소</td>
  <td colspan="6" width="414" style="text-align:center;border:1pt solid red;white-space:normal;border-right:1.5pt solid red;border-left:none;width:312pt;">경기도 김포시 하성면 하성로 710</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;">전<span>  </span>화<span> 
  </span>번<span>  </span>호</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:312pt;" th:text="${customer.CustomerPhone}">032-813-2207</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;">전<span>  </span>화<span> 
  </span>번<span>  </span>호</td>
  <td colspan="6" width="414" style="text-align:center;border-top:1pt solid red;border-right:1.5pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:312pt;">T : 02-3663-2825 / F : 031-984-5214</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1.5pt solid red;white-space:normal;width:52pt;">월</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;">일</td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:156pt;">품 목 명</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;">용 량</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;">수 량</td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">단 가</td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:156pt;">공 급 가
  액</td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">부 가 세</td>
  <td colspan="4" width="276" style="text-align:center;border-top:none;border-right:1.5pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:208pt;">적 요</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;" th:if="${not #lists.isEmpty( orderExt.orderProduct )}" th:each="row : ${orderExt.orderProduct}">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1.5pt solid red;white-space:normal;width:52pt;" th:text="${#calendars.format( orderExt.order.deliveryReqDt, 'MM' )}">8</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;" th:text="${#calendars.format( orderExt.order.deliveryReqDt, 'dd' )}">　</td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:156pt;" th:text="${row.productNm}">O2(의료용)</td>
  <td align="right" width="69" style="border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;" th:text="|${row.productCapa}&nbsp;|">40</td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;" th:text="${row.orderCount}">1</td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;" th:if="${row.orderAmount > 0}"  th:text="${#numbers.formatDecimal(row.orderAmount/row.orderCount, 3, 'COMMA' ,2,'POINT')}">20,000
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;" th:unless="${row.orderAmount > 0}"  th:text="${row.orderAmount}">20,000
  </td>
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:156pt;" th:if="${row.orderAmount > 999}" th:text="${#numbers.formatDecimal(row.orderAmount, 3, 'COMMA' ,2,'POINT')}">20,000
  <td colspan="3" width="207" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:156pt;" th:unless="${row.orderAmount > 999}" th:text="${row.orderAmount}">20,000
  </td>
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;" th:if="${row.orderAmount*0.1 > 999}" th:text="${#numbers.formatDecimal(row.orderAmount*0.1, 3, 'COMMA' ,2,'POINT')}">20,000
  <td colspan="2" width="138" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;" th:unless="${row.orderAmount*0.1 > 999}" th:text="${row.orderAmount*0.1}">20,000
  </td>
  <td colspan="4" width="276" style="text-align:center;border-top:none;border-right:1.5pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:208pt;" th:text="${row.orderProductEtc}">주문없이추가</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;" th:each="seq : ${#numbers.sequence(1,12-orderExt.orderProduct.size() )}">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1.5pt solid red;white-space:normal;width:52pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid red;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td colspan="3" width="207" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:156pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid red;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td width="69" style="text-align:center;border:1pt solid red;white-space:normal;border-top:none;border-left:none;width:52pt;">　</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">　</td>
  <td colspan="3" width="207" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:156pt;">　</td>
  <td colspan="2" width="138" style="text-align:center;border:1pt solid red;white-space:normal;border-left:none;width:104pt;">　</td>
  <td colspan="4" width="276" style="text-align:center;border:1pt solid red;white-space:normal;border-right:1.5pt solid red;border-left:none;width:208pt;">　</td>
  <td><br></td>
 </tr>
 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td width="69" style="text-align:center;border-top:none;border-right:1pt solid red;border-bottom:none;border-left:1.5pt solid red;white-space:normal;width:52pt;">비고</td>
  <td colspan="8" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:none;border-left:none;"  th:text="${orderExt.order.orderEtc}">가천대 201호로 납품 바랍니다.</td>
  <td colspan="3" width="207" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:none;border-left:1.5pt solid red;white-space:normal;width:156pt;">합<span>     </span>계<span>    
  </span>금<span>    </span>액</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:none;border-left:none;white-space:normal;width:104pt;"  th:text="${#numbers.formatDecimal(orderExt.order.orderTotalAmount*1.1, 3, 'COMMA',2,'POINT')}">22,000</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:none;border-left:none;white-space:normal;width:104pt;">인 수
  자</td>
  <td colspan="2" width="138" style="color:windowtext;font-weight:700;text-align:right;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:none;border-left:none;white-space:normal;width:104pt;">(인)</td>
  <td><br></td>
 </tr>
 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1.5pt solid red;white-space:normal;width:104pt;">결<span>  </span>제<span> 
  </span>방<span>  </span>식</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:104pt;">온라인
  송금</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid red;border-left:none;white-space:normal;width:52pt;">현금</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid red;border-left:1pt solid red;white-space:normal;width:52pt;">카드</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:none;border-bottom:1pt solid red;border-left:1pt solid red;white-space:normal;width:52pt;">미수</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:none;border-bottom:1pt solid red;border-left:1pt solid red;white-space:normal;width:104pt;">세금계산서 발행</td>
  <td colspan="2" width="138" style="text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1pt solid red;white-space:normal;width:104pt;">세금계산서 미발행</td>
  <td colspan="2" width="138" style="color:windowtext;;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:1.5pt solid red;white-space:normal;width:104pt;"><span> </span>전 미수금액</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;"  th:if="${cashSum.receivableAmountNet> 999 }" th:text="${#numbers.formatDecimal(cashSum.receivableAmountNet, 3, 'COMMA',2,'POINT')}">258,000</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;"  th:unless="${cashSum.receivableAmountNet> 999 }" th:text="${cashSum.receivableAmountNet}">258,000</td>
  <td width="69" style="color:windowtext;text-align:center;border-top:none;border-right:1pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:52pt;">총 합계</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;"  th:if="${ (cashSum.receivableAmountNet +orderExt.order.orderTotalAmount) > 999 }" th:text="${#numbers.formatDecimal( (cashSum.receivableAmountNet+orderExt.order.orderTotalAmount*1.1 ), 3, 'COMMA',2,'POINT')}">258,000</td>
  <td colspan="2" width="138" style="color:windowtext;text-align:center;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:1.5pt solid red;border-left:none;white-space:normal;width:104pt;"  th:unless="${ (cashSum.receivableAmountNet + orderExt.order.orderTotalAmount) > 999 }" th:text="${(cashSum.receivableAmountNet+orderExt.order.orderTotalAmount *1.1)}">258,000</td>
  <td><br></td>
 </tr>
 
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="2" width="138" style="text-align:center;border-top:1pt solid red;border-right:1pt solid red;border-bottom:1pt solid red;border-left:1.5pt solid red;white-space:normal;width:104pt;">대여용기 현황</td>
  <td colspan="16" width="1104" style="text-align:center;border-top:1pt solid red;border-right:1.5pt solid red;border-bottom:1pt solid red;border-left:none;white-space:normal;width:832pt;" th:text="${rentBottle}">O2 1ea / CO2 3ea / N2O 2ea / N2 5ea</td>
  <td><br></td>
 </tr>
 <tr height="33" style="height:24.9pt;">
  <td height="33" style="height:24.9pt;"><br></td>
  <td colspan="18" width="1242" style="font-weight:700;text-align:center;border-top:1.5pt solid red;border-right:1.5pt solid red;border-bottom:1.5pt solid red;border-left:1.5pt solid red;white-space:normal;width:936pt;">신한은행 : 100-030-184022 [예금자명 : ㈜대한특수가스]<span>      </span>/<span>     
  </span>e-mail : daehangas1@daum.net</td>
  <td><br></td>
 </tr>
 <tr height="23" style="height:17.4pt;">
  <td height="23" style="height:17.4pt;"><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
  <td><br></td>
 </tr>

</tbody></table>
<script type="text/javascript">
	window.print();

</script>
</th:block>