<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="gms/layout/basic">

<div class="wrapper">

<th:block layout:fragment="content"> 
<script type="text/javascript">
$(document).ready(function(){ 
	 $("#searchStatDt").val('[[${searchStatDt}]]' );

	 
	 

});
	
	
$(function() {
	
	  $('input[name="searchStatDt"]').daterangepicker({
	      autoUpdateInput: false,
	      startDate: new Date(),
	      locale: {
	          cancelLabel: 'Clear'
	      }
	  });
	
	  $('input[name="searchStatDt"]').on('apply.daterangepicker', function(ev, picker) {
	      $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
	  });
	
	  $('input[name="searchStatDt"]').on('cancel.daterangepicker', function(ev, picker) {
	      $(this).val('');
	  });	
	
});	

</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>상품 판매 현황</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
    
      <div class="container-fluid">
        
        <div class="row">
    		
           	<div class="col-1">
               		<label >상품명</label>
            </div>               
            <div class="col-4">     
            <form id="mainForm" name="mainForm"  method="post">         
            	<select id="searchProductId" name="searchProductId" class="form-control">
	                      <option value="0">상품 목록</option>
	                    	<option th:each="row : ${productList}"
				                th:text="${row.productNm}"
				                th:value="${row.productId}"
				                th:if="${searchProductId ==row.productId}" selected>					             
					        </option>	
					        <option th:each="row : ${productList}"
				                th:text="${row.productNm}"
				                th:value="${row.productId}"
			                	th:unless="${searchProductId ==row.productId}">				             
					        </option>			
				               
				     </option>		
			    </select>	                      
            </div>  
          
         </div>
         <div class="row">	
	        <div class="col-12">
	        <table class="table table-hover">
	        <tr></tr>
	         </table>
	        </div>
        </div>
        <div class="row">        	
    		
            <div class="col-1">
                      
               		<label>기간</label>
            </div>               
            <div class="col-4">              
               <input type="text" class="form-control" id="searchStatDt" name="searchStatDt" value=""/>			
            </div>               
            <div class="col-1">
                <button class="btn btn-navbar" type="submit"><i class="fas fa-search"></i></button>           
              </div>  
              <div class="col-2" align=right>
               		<a th:href="@{/gms/statistics/product/excelDown.do(searchStatDt=${searchStatDt},searchProductId=${searchProductId},periodType=2)}"><button type="button" class="btn btn-primary btn-sm float-right"><i class="far fa-file-excel"></i> 엑셀받기</button></a>
            </div>
              </form>  
         </div>       
    	
        <div class="row">	
	        <div class="col-12">
	        <table>
	       </br>
	         </table>
	        </div>
        </div>
        <div class="row">
          <div class="col-10">
          <div class="card card-primary">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-home-tab"  href="/gms/statistics/product/daily.do" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">일별</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-profile-tab" href="/gms/statistics/product/monthly.do" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="true">월별</a>
                  </li>
                 
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                     
					<!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>날짜</th>
                      <th>판매건수</th>
                      <th>판매금액</th>
                      <th>대여건수</th>
                      <th>대여금액</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:if="${not #lists.isEmpty( statProductList )}" th:each="row : ${statProductList}" style="font-size:14px;">
                      <td th:text="${row.statDt}"></td>
                      <td th:text="${row.saleCount}"></td>
                      <td th:if="${row.saleAmount> 0 }" th:text="${#numbers.formatInteger(row.saleAmount, 3, 'COMMA')}">
                      <td th:unless="${row.saleAmount> 0 }" th:text="${row.saleAmount}">
                      <td th:text="${row.rentCount}"></td>
                      <td th:if="${row.rentAmount> 0 }" th:text="${#numbers.formatInteger(row.rentAmount, 3, 'COMMA')}">
                      <td th:unless="${row.rentAmount> 0 }" th:text="${row.rentAmount}">
                      </td>                      
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( statProductList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
					
                  </tbody>
                </table>
              </div>
              <!-- /.card-body --> 
                  
                  
                </div>
              </div>
              <!-- /.card -->
            </div>
          
            <div class="card">
             
              
              
            </div>
            <!-- /.card -->
          </div>
        
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>
  

  