<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.admin.mapper.manage.CustomerMapper">

	<resultMap id="CustomerMap" type="com.gms.web.admin.domain.manage.CustomerVO" >
		<result property="customerId"			column="Customer_ID"		/>
		<result property="memberCompSeq"		column="Member_Comp_Seq"	/>		
		<result property="customerNm"			column="Customer_Nm"		/>
		<result property="businessRegId"		column="Business_Reg_ID"	/>
		<result property="customerRepNm"		column="Customer_Rep_Nm"	/>
		<result property="customerBusiType"		column="Customer_Busi_Type"	/>
		<result property="customerItem"			column="Customer_Item"		/>
		<result property="customerAddr"			column="Customer_Addr"		/>
		<result property="customerPhone"		column="Customer_Phone"		/>	
		<result property="customerEmail"		column="Customer_Email"		/>	
		<result property="salesId"				column="Sales_ID"			/>
		<result property="salesNm"				column="Sales_Nm"			/>
		<result property="customerStatus"		column="Customer_Status"	/>		
		<result property="carYn"				column="Car_YN"				/>		
		<result property="createId"				column="CREATE_ID"		/>
		<result property="createDt"				column="CREATED_DT"		/>
		<result property="updateId"				column="UPDATE_ID"		/>		
		<result property="updateDt"				column="UPDATE_DT"		/>
	</resultMap>
	
	<resultMap id="CustomerPriceMap" type="com.gms.web.admin.domain.manage.CustomerPriceVO" >
		<result property="customerId"			column="Customer_ID"		/>
		<result property="productId"			column="Product_ID"			/>		
		<result property="productPriceSeq"		column="Product_Price_Seq"	/>
		<result property="productPrice"			column="Product_Price"		/>	
		<result property="createId"				column="CREATE_ID"			/>
		<result property="createDt"				column="CREATED_DT"			/>
		<result property="updateId"				column="UPDATE_ID"			/>		
		<result property="updateDt"				column="UPDATE_DT"			/>
	</resultMap>
	
	<sql id="InsertCustomerColumns">
		 Member_Comp_Seq	        
		, Customer_Nm	
		, Business_Reg_ID        
		, Customer_Rep_Nm        
		, Customer_Busi_Type
		, Customer_Item	
		, Customer_Addr	
		, Customer_Phone	
		, Customer_Email	
		, Sales_ID
		, Customer_Status
		, Car_Yn
		, CREATE_ID	
		, CREATE_DT	
		, UPDATE_ID	
		, UPDATE_DT
	</sql>
	<sql id="CustomerColumns">
		  Customer_ID	
		, A.Member_Comp_Seq	        
		, Customer_Nm	
		, Business_Reg_ID        
		, Customer_Rep_Nm        
		, Customer_Busi_Type
		, Customer_Item	
		, Customer_Addr	
		, Customer_Phone	
		, Customer_Email	
		, Sales_ID
		, User_Nm Sales_Nm
		, Customer_Status
		, Car_YN
		, A.CREATE_ID	
		, A.CREATE_DT	
		, A.UPDATE_ID	
		, A.UPDATE_DT
	</sql>
	<sql id="InsertCustomerPriceColumns">
		 Customer_ID	        
		, Product_ID	
		, Product_Price_Seq        
		, Product_Price
		, CREATE_ID	
		, CREATE_DT	
		, UPDATE_ID	
		, UPDATE_DT
	</sql>
	<insert id="insertCustomer" parameterType="com.gms.web.admin.domain.manage.CustomerVO">
		INSERT INTO TB_CUSTOMER(
			<include refid="InsertCustomerColumns" />
		) VALUES (
			 #{memberCompSeq}
			, #{customerNm}
			, #{businessRegId}
			, #{customerRepNm}
			, #{customerBusiType}
			, #{customerItem}
			, #{customerAddr}
			, #{customerPhone}
			, #{customerEmail}
			, #{salesId}
			, '2'
			, #{carYn}
			, #{createId}			
			, NOW()
			, NULL
			, NOW()
		)
	</insert>
	
	<insert id="insertCustomers" parameterType="java.util.List">
		INSERT INTO TB_CUSTOMER(
			<include refid="InsertCustomerColumns" />
		) VALUES 
		<foreach collection="list" item="item" separator=" , ">
		(
			 #{item.memberCompSeq}
			, #{item.customerNm}
			, #{item.businessRegId}
			, #{item.customerRepNm}
			, #{item.customerBusiType}
			, #{item.customerItem}
			, #{item.customerAddr}
			, #{item.customerPhone}
			, #{item.customerEmail}
			, #{item.salesId}
			, '2'
			, #{item.carYn}
			, #{item.createId}			
			, NOW()
			, NULL
			, NOW()
		)
		</foreach>
	</insert>

	<insert id="insertCustomerPrice" parameterType="com.gms.web.admin.domain.manage.CustomerPriceVO">
		INSERT INTO TB_CUSTOMER_PRODUCT_PRICE(
			<include refid="InsertCustomerPriceColumns" />
		) VALUES (
			 #{customerId}
			, #{productId}
			, #{productPriceSeq}
			, #{productPrice}
			, #{createId}			
			, NOW()
			, NULL
			, NOW()
		)
	</insert>
	
	
	<insert id="insertCustomerPrices" parameterType="java.util.List">
		INSERT INTO TB_CUSTOMER_PRODUCT_PRICE(
			<include refid="InsertCustomerPriceColumns" />
		) VALUES 
		<foreach collection="list" item="item" separator=" , ">
		(
			 #{item.customerId}
			, #{item.productId}
			, #{item.productPriceSeq}
			, #{item.productPrice}
			, #{item.createId}			
			, NOW()
			, NULL
			, NOW()
		)
		</foreach>
	</insert>
	
	
	<select id="selectCustomerDetail" parameterType="Integer" resultType="com.gms.web.admin.domain.manage.CustomerVO">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A Left Join TB_USER B on A.Sales_ID = B.User_ID
		WHERE
			Customer_Status != '0'		
		AND
			CUSTOMER_ID = #{customerId}
	</select>
	
	<select id="selectCustomerDetailByNm" parameterType="String" resultType="com.gms.web.admin.domain.manage.CustomerVO">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A, TB_USER B
		WHERE
			Customer_Status != '0'		
		AND
			CUSTOMER_NM = #{customerNm}
		AND A.Sales_ID = B.User_ID
	</select>
	
	<select id="selectCustomerDetailByNmBusi" parameterType="String" resultType="com.gms.web.admin.domain.manage.CustomerVO">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A, TB_USER B
		WHERE
			Customer_Status != '0'		
		AND
			CUSTOMER_NM = #{customerNm}
		AND 
			Business_Reg_ID = #{businessRegId}
		AND
			A.Sales_ID = B.User_ID
	</select>

	<update id="updateCustomer" parameterType="com.gms.web.admin.domain.manage.CustomerVO">
		UPDATE TB_CUSTOMER
		SET
			  Customer_NM		= #{customerNm}
			, Business_Reg_ID	= #{businessRegId}
			, Customer_Rep_Nm	= #{customerRepNm}
			, Customer_Busi_Type	= #{customerBusiType}
			, Customer_Item		= #{customerItem}
			, Customer_Addr		= #{customerAddr}
			, Customer_Phone	= #{customerPhone}
			, Customer_Email	= #{customerEmail}
			, Sales_ID		= #{salesId}
			, UPDATE_ID		= #{updateId}
			, UPDATE_DT		= NOW()
		WHERE
			CUSTOMER_ID = #{customerId}
	</update>

	<update id="deleteCustomer" parameterType="Integer">
		UPDATE TB_CUSTOMER
		SET
			  Customer_Status = '0'
			, UPDATE_ID = #{updateId}
			, UPDATE_DT = NOW()
		WHERE
			CUSTOMER_ID = #{customerId}
	</update>

	<select id="selectCustomerList" resultType="com.gms.web.admin.domain.manage.CustomerVO" parameterType="java.util.Map">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A Left Join  TB_USER B On A.Sales_ID = B.User_ID
		WHERE
			Customer_Status != '0'
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_NM	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>
			order by create_dt desc 
		Limit #{startRow}, #{rowPerPage}
	</select>
	
	<select id="selectCustomerCount" resultType="int" parameterType="java.util.Map">
		SELECT
			Count(Customer_id)
		FROM
			TB_CUSTOMER
		WHERE
			Customer_Status != '0'	
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_NM	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>
	</select>
	
	<select id="selectBusinessRegId" parameterType="com.gms.web.admin.domain.manage.CustomerVO" resultType="int">
		SELECT
			Count(Customer_id)
		FROM
			TB_CUSTOMER
		WHERE
			Customer_Status != '0'
		AND
			Business_Reg_ID=#{businessRegId}
	</select>
	
	<select id="searchCustomerList" resultType="com.gms.web.admin.domain.manage.CustomerVO" parameterType="String">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A  Left Join  TB_USER B On A.Sales_ID = B.User_ID
		WHERE
			Customer_Status != '0'
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_NM	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>
		ORDER BY Customer_Nm Asc 
	</select>

	<select id="searchCustomerListExcel" resultType="com.gms.web.admin.domain.manage.CustomerVO" parameterType="String">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A  Left Join  TB_USER B On A.Sales_ID = B.User_ID
		WHERE
			Customer_Status != '0'
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_NM	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>
		ORDER BY A.Creat_Dt desc 
	</select>
	
	<select id="selectCustomerListCar" resultType="com.gms.web.admin.domain.manage.CustomerVO">
		SELECT
			<include refid="CustomerColumns" />
		FROM
			TB_CUSTOMER A  Left Join  TB_USER B On A.Sales_ID = B.User_ID
		WHERE
			Customer_Status != '0'		
		AND 
			Car_YN = 'Y'
		ORDER BY A.Customer_Nm desc 
	</select>

	<select id="selectCustomerPriceList" resultType="com.gms.web.admin.domain.manage.CustomerPriceExtVO" parameterType="Integer">
		SELECT
			a.Customer_ID, a.Product_ID, a.Product_Price_Seq,a.Product_Price, b.Product_Capa, c.Product_Nm
		FROM
			TB_CUSTOMER_PRODUCT_PRICE a, TB_PRODUCT_PRICE b, TB_PRODUCT c
		WHERE
			CUSTOMER_ID = #{customerId}
		AND a.Product_ID = b.Product_ID
		AND b.Product_ID = c.Product_ID
		AND a.Product_Price_Seq = b.Product_Price_Seq
		AND b.Product_Status != 0
		AND c.Product_Status != 0
	</select>
	
	<update id="deleteCustomerPrice" parameterType="Integer">
		DELETE
		FROM  TB_CUSTOMER_PRODUCT_PRICE		
		WHERE
			CUSTOMER_ID = #{customerId}
	</update>
	
	<delete id="deleteCustomerPrices" parameterType="java.util.List">
		DELETE
		FROM  TB_CUSTOMER_PRODUCT_PRICE		
		WHERE
			CUSTOMER_ID in
		(
		<foreach collection="list" item="item" separator=" , ">			
			 #{item.customerId}
		</foreach>
		)
	</delete>
		

</mapper>