<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.admin.mapper.manage.OrderMapper">
	<resultMap id="OrderMap" type="com.gms.web.admin.domain.manage.OrderExtVO" >
		<result property="orderId"				column="Order_ID"				/>
		<result property="memberCompSeq"		column="Member_Comp_Seq"		/>
		<result property="orderTypeCd"			column="Order_Type_CD"			/>
		<result property="deliveryReqDt"		column="Delivery_Req_Dt"		/>
		<result property="orderEtc"				column="Order_Etc"				/>
		<result property="orderProductNm"		column="Order_Product_Nm"		/>		
		<result property="orderProductCapa"		column="Order_Product_Capa"		/>
		<result property="deliveryReqAmpm"		column="Delivery_Req_AmPm"		/>
		<result property="customerId"			column="Customer_ID"			/>
		<result property="customerNm"			column="Customer_NM"			/>
		<result property="orderProcessCd"		column="Order_Process_CD"		/>
		<result property="orderProcessCdNm"		column="Order_Process_CD_NM"	/>
		<result property="depositCheckDt"		column="Deposit_Check_Dt"		/>
		<result property="depositAmount"		column="Deposit_Amount"			/>
		<result property="depositBankCd"		column="Deposit_Bank_Cd"		/>
		<result property="salesId"				column="Sales_ID"				/>
		<result property="createId"				column="CREATE_ID"				/>
		<result property="createDt"				column="CREATE_DT"				/>
		<result property="updateId"				column="UPDATE_ID"				/>		
		<result property="updateDt"				column="UPDATE_DT"				/>
	</resultMap>	

	<resultMap id="OrderProductMap" type="com.gms.web.admin.domain.manage.OrderProductVO" >
		<result property="orderId"				column="Order_ID"			/>
		<result property="orderProductSeq"		column="Order_Product_Seq"	/>
		<result property="productId"			column="Product_ID"			/>
		<result property="productPriceSeq"		column="Product_Price_Seq"	/>
		<result property="orderCount"			column="Order_Count"		/>
		<result property="orderAmount"			column="Order_Amount"		/>
		<result property="orderProductEtc"		column="Order_Product_ETC"	/>
		<result property="bottleChangeYn"		column="Bottle_Change_YN"	/>
		<result property="bottleId"				column="Bottle_ID"			/>
		<result property="createId"				column="CREATE_ID"			/>
		<result property="createDt"				column="CREATE_DT"			/>
		<result property="updateId"				column="UPDATE_ID"			/>		
		<result property="updateDt"				column="UPDATE_DT"			/>	
	</resultMap>
	
	<sql id="OrderColumns">
		Member_Comp_Seq  
		 , Order_Type_CD    
		 , Delivery_Req_Dt 		  
		 , Delivery_Req_AmPm
		 , Order_Etc        
		 , Order_Product_Nm   
		 , Order_Product_Capa 
		 , Customer_ID      
		 , Order_Process_CD 
		 , Deposit_Check_Dt 
		 , Deposit_Amount   
		 , Deposit_Bank_Cd  
		 , Sales_ID         
		 , Create_ID        
		 , Create_Dt        
		 , Update_ID        
		 , Update_Dt   
	</sql>
	
	<sql id="OrderSelectColumns">
		  Order_ID         
		 , A.Member_Comp_Seq  
		 , Order_Type_CD    
		 , Delivery_Req_Dt 		  
		 , Delivery_Req_AmPm
		 , Order_Etc        
		 , Order_Product_Nm   
		 , Order_Product_Capa 
		 , A.Customer_ID     
		 , Customer_Nm 
		 , Order_Process_CD 
		 , CD_NM Order_Process_CD_NM
		 , Deposit_Check_Dt 
		 , Deposit_Amount   
		 , Deposit_Bank_Cd  
		 , A.Sales_ID         
		 , A.Create_ID        
		 , A.Create_Dt        
		 , A.Update_ID        
		 , A.Update_Dt   
	</sql>
	
	<sql id="OrderProductColumns">
		  Order_ID         
		 , Order_Product_Seq
		 , Product_ID       
		 , Product_Price_Seq
		 , Order_Count      
		 , Order_Amount     
		 , Order_Product_ETC
		 , Bottle_Change_YN 
		 , Bottle_ID           
		 , Create_ID        
		 , Create_Dt        
		 , Update_ID        
		 , Update_Dt   
	</sql>
	
		<insert id="insertOrder" parameterType="com.gms.web.admin.domain.manage.OrderVO">
		INSERT INTO TB_Order(
			<include refid="OrderColumns" />
		) VALUES (
			#{memberCompSeq}	
			, #{orderTypeCd}	
			, #{deliveryReqDt}					
			, #{deliveryReqAmpm}		
			, #{orderEtc}
			, #{orderProductNm}				
			, #{orderProductCapa}
			, #{customerId}
			, #{orderProcessCd}
			, #{depositCheckDt}
			, #{depositAmount}
			, #{depositBankCd}
			, #{salesId}
			, #{createId}			
			, NOW()
			, NULL
			, NOW()
		)
	</insert>
	
	<insert id="insertOrderProduct" parameterType="com.gms.web.admin.domain.manage.OrderProductVO">
		INSERT INTO TB_Order_Product(
			<include refid="OrderProductColumns" />
		) VALUES (
			  #{orderId}
			, #{orderProductSeq}	
			, #{productId}	
			, #{productPriceSeq}					
			, #{orderCount}		
			, #{orderAmount}
			, #{orderProductEtc}
			, #{bottleChangeYn}				
			, #{bottleId}
			, #{createId}			
			, NOW()
			, NULL
			, NOW()
		)
	</insert>

	<select id="selectOrderDetail" parameterType="String" resultType="com.gms.web.admin.domain.manage.OrderVO">
		SELECT
			<include refid="OrderColumns" />
		FROM
			TB_Order
		WHERE
			Order_ID = #{orderId}
	</select>

	<update id="updateOrder" parameterType="com.gms.web.admin.domain.manage.OrderVO">
		UPDATE TB_Order
		SET
			Delivery_Req_Dt			= #{deliveryReqDt}
			, Delivery_Req_AmPm		= #{deliveryReqAmpm}
			, Order_Etc				= #{orderEtc}
			, Order_Product_Nm		= #{orderProductNm}
			, Order_Product_Capa	= #{orderProductCapa}
			, Customer_ID			= #{customerId}
		WHERE
			Order_ID = #{orderId}
	</update>
	
	<update id="updateOrderProduct" parameterType="com.gms.web.admin.domain.manage.OrderProductVO">
		UPDATE TB_Order_Product
		SET
			productId			= #{productId}
			, Product_Price_Seq	= #{orderProductSeq}
			, Order_Count		= #{orderCount}
			, Order_Amount		= #{orderAmount}
			, Bottle_Change_YN	= #{bottleChangeYn}
		WHERE
			Order_ID = #{orderId}
		AND
			Order_Product_Seq = #{orderProductSeq}	
	</update>
	
	<update id="updateOrderDeposit" parameterType="com.gms.web.admin.domain.manage.OrderVO">
		UPDATE TB_Order
		SET
			Deposit_Check_Dt		= #{depositCheckDt}
			, Deposit_Amount		= #{depositAmount}
			, Deposit_Bank_CD		= #{depositBankCd}
		WHERE
			Order_ID = #{orderId}
	</update>

	<update id="updateOrderProcessCd" parameterType="com.gms.web.admin.domain.manage.OrderVO">
		UPDATE TB_Order
		SET
			  Order_Process_CD 	= #{orderProcessCd}
			, UPDATE_ID 		= #{updateId}
			, UPDATE_DT 		= NOW()
		WHERE
			Order_ID = #{orderId}
	</update>	
	
	<update id="deleteOrder" parameterType="com.gms.web.admin.domain.manage.OrderVO">
		UPDATE TB_Order
		SET
			Delete_YN = 'Y'
			, UPDATE_ID = #{updateId}
			, UPDATE_DT = NOW()
		WHERE
			Order_ID = #{orderId}
	</update>	
	<update id="deleteOrderProduct" parameterType="com.gms.web.admin.domain.manage.OrderProductVO">
		UPDATE TB_Order
		SET
			Delete_YN = 'Y'
			, UPDATE_ID = #{updateId}
			, UPDATE_DT = NOW()
		WHERE
			Order_ID = #{orderId}
		AND
			Order_Product_Seq = #{orderProductSeq}	
	</update>	

	<select id="selectOrderList" resultType="com.gms.web.admin.domain.manage.OrderVO" parameterType="java.util.Map">		
		SELECT
			<include refid="OrderSelectColumns" />
		FROM
			TB_Order A, TB_Customer B, TB_CODE C
		WHERE
			A.Customer_Id = B.Customer_ID
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_Nm	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>		
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchChargeDt)">
		AND date_format(Create_Dt,'%Y/%m/%d')  between  #{searchOrderDtFrom} AND  #{searchOrderDtEnd} 
		</if>						
		AND A.Order_Process_Cd = C.CD_ID										
		ORDER BY Create_Dt DESC 
		Limit #{startRow}, #{rowPerPage}
	</select>
	
	
	<select id="selectOrderProductList" resultType="com.gms.web.admin.domain.manage.OrderVO" parameterType="Integer">		
		SELECT
			<include refid="OrderProductColumns" />
		FROM
			TB_Order_Prodcut
		WHERE
			Order_ID = #{orderId}									
		ORDER BY Create_Dt DESC 
	</select>
	
	<select id="selectOrderCount" resultType="int" parameterType="java.util.Map">
		SELECT
			Count(Order_id)
		FROM
			TB_Order
		WHERE
			0 = 0
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerNm)">
		AND Customer_Nm	 LIKE CONCAT('%', CONCAT(#{searchCustomerNm}, '%'))
		</if>		
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchChargeDt)">
		AND date_format(Create_Dt,'%Y/%m/%d')  between  #{searchOrderDtFrom} AND  #{searchOrderDtEnd} 
		</if>				
	</select>	
	
	<select id="selectCustomerOrderList" resultType="com.gms.web.admin.domain.manage.OrderVO" parameterType="Integer">		
		SELECT
			<include refid="OrderSelectColumns" />
		FROM
			TB_Order A, TB_Customer B, TB_CODE C
		WHERE
			A.Customer_Id = B.Customer_ID		
		AND 
			Customer_id = #{customerId}
		AND 
			A.Order_Process_Cd = C.CD_ID			
		ORDER BY Create_Dt DESC 
	</select>
</mapper>