<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="gms/layout/basic">

<div class="wrapper">

<th:block layout:fragment="content"> 
<script type="text/javascript">


function validationOfForm(form) {
	
	var priceCnt= $("#priceCnt").val() ;
	//alert("priceCnt==="+priceCnt);
	if($("#customerId").val() == "="){
		alert("거래처를 선택하세요" );
	}
	if($("#productId_0").val() == "0" || $("#productCapa_0").val() == "0" || $("#productPrice_0").val() == ""){
		//alert("document.mainForm.customerId.value== "+document.mainForm.customerId.value );
		alert('상품 및 가격정보를 입력 하세요');      
		return false;
	}
	
	//var customerId= document.mainForm.
	
}
// end of function

function doExcelUploadProcess(){
		
    form1.submit();
}

function doExcelUploadProcessLn2(){
	
    form3.submit();
}
    
$(document).ready(function(){ 
	
	var counter = 0;
	var totalCount = 1;
	
	init_add(0);
	$("#addrow").on("click", function () {

		//alert("addrow");
		counter++;
		totalCount++;

		if (counter > 50){
		  alert('더 이상 추가 할수 없습니다.');
		  return false;
		}

		var newRow = $("<tr>");
		var cols = "";

		cols += '<td style="padding-left:0px;">';
		cols += '<select class="form-control" id="productId_' + counter +  '" name="productId_' + counter + '" style="width:160px"></select>'; 
		cols += '</td><td>';
		cols += ' <select class="form-control" id="productPriceSeq_' + counter + '" name="productPriceSeq_' + counter + '" style="width:100px"><option value=0>옵션</option></select> ';
		cols += '</td><td>';
		cols += ' <input type="text" class="form-control" id="productPrice_' + counter + '" name="productPrice_' + counter + '" " placeholder="대여가격">';
		cols += '</td><td>';
		cols += ' <input type="text" class="form-control" id="productBottlePrice_' + counter + '" name="productBottlePrice_' + counter + '" " placeholder="판매가격">';
		cols += '</td><td>';  
		cols += ' <input type="button" class="ibtnDel btn btn-md btn-danger" id="addrow" value="삭제" />';
		cols += '</td>';
		cols +='</tr>';

		newRow.append(cols);
		$("table.doc-list").append(newRow);
		$("#priceCount").val(counter+1);
		init_add(counter);

		init_add_storage(counter);

	});

	//상품추가

    $('#productId_0').change( function(){

		var select_pumname = $('#productId_0').val();

		init_storage_list(select_pumname,0,"ins");
	});

    //수정시 row 추가

     var mod_counter = 0;

    $("table.doc-list").on("click", ".ibtnAddMod", function (event) {

        mod_counter++;       
        totalCount++;

        var newRow = $("<tr>");
        var cols = "";

        cols += '<td style="padding-left:0px;">';
        cols += '<select class="form-control" id="productId_' + mod_counter +  '" name="productId_' + mod_counter + '" style="width:160px"></select>';
        cols += '</td><td>';
        cols += ' <select class="form-control" id="productPriceSeq_' + mod_counter + '" name="productPriceSeq_' + mod_counter + '" style="width:100px"></select> ';
		cols += '</td><td>';
        cols += '<input type="text" class="form-control" id="productPrice_' + mod_counter + '" name="productPrice_' + mod_counter + '">';
        cols += '</td><td>';
        cols += '<input type="text" class="form-control" id="productBottlePrice_' + mod_counter + '" name="productBottlePrice_' + mod_counter + '">';
        cols += '</td><td>';
        cols += ' <input type="button" class="ibtnDelMod btn btn-md btn-danger" id="addrow" value="삭제" />';
        cols += '</td>';
        cols +='</tr>';

        newRow.append(cols);
        $("table.doc-list").append(newRow);

        $("#priceCount").val(mod_counter);
        init_add(mod_counter);

        init_mod_storage(mod_counter);

    });
    
    
    // row 삭제
    $("table.doc-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       

        counter -= 1
        totalCount-=1
        $("#priceCount").val(counter);

    });

    $("table.doc-list").on("click", ".ibtnDelMod", function (event) {
        $(this).closest("tr").remove();       

        mod_counter -= 1
        totalCount -= 1
        $("#priceCount").val(mod_counter);

    });
    

    function init_mod_storage(mod_counter) {
        // body...      
		 $('#productId_' + mod_counter).change( function(){      		
				var mod_select_pumname = $('#productId_' + mod_counter).val();		
				init_storage_list(mod_select_pumname,mod_counter,'mod');		
		});
      }
    
    function init_add(pid){

        $.ajax({
  	  	url: '/gms/product/nlist.do',
  	  	type: 'POST',  	  	
  	  	dataType: 'json',

       })
  	 .done(function(data){
  		  
  		var i=0;
  		$('#productId_' + pid).append('<option value=0>상품</option>');
		for(i=0; i< data.length;i++) {
			     
			$('#productId_' + pid).append('<option value='+data[i].productId+'>'+data[i].productNm+'</option>')			
		}
  	 
       })
       .fail(function(){
  			console.log("fail");
       });

    } 
    
    
    function init_add_storage(counter) {
    	// body...
   		$('#productId_' + counter).change( function(){
   			var select_pumname = $('#productId_' + counter).val();

   			init_storage_list(select_pumname,counter,'ins');
   		});
   	}
    
 // 입력된 내용을 작성한다.
    $("#save").on("click", function () {

    	$("#priceCount").val(counter++);
    	
    	var form = $("#writeForm");	

    	//document.getElementById("priceCount").value = counter+mod_counter;
    	document.getElementById("priceCount").value = totalCount;
    	
    	//alert("save");
    	form.submit();
    });
    
    function init_storage_list(pumname,sel_pid,type){
		
		$.ajax({
			url: '/gms/product/priceList.do',
			type: 'POST',
			data: 'productId='+ pumname ,
			dataType: 'json',

		 })
		.done(function(data){	           
		
			if(type == "ins"){
		    	var i=0;
				//$('#productCapa_' + sel_pid).find('option').remove(); 
				for(i=0; i< data.length;i++) {
					      
					$('#productPriceSeq_' + sel_pid).append('<option value='+data[i].productPriceSeq+'>'+data[i].productCapa+'</option>')
					
				}
			}else if(type == "mod"){
				
				$('#productPriceSeq_' + sel_pid).find('option').remove(); 
				for(i=0; i< data.length;i++) {
					
					$('#productPriceSeq_' + sel_pid).append('<option value='+data[i].productPriceSeq+'>'+data[i].productCapa+'</option>')
				//$('#productPriceSeq_' + sel_pid).append(json_obj.productPriceList);
				}
			}  		
		})
		.fail(function(){
			console.log("fail");
		 });

	} 
    
    $('select[name=customerId]').change(function() {
		
			$('#customerId1').val($(this).val());			
			
			$.ajax({
				url: '/gms/price/customerList.do',
				type: 'POST',
				data: 'customerId='+ $(this).val() ,
				dataType: 'json',

			 })
			.done(function(data){	           
				var counter = 0;
		        var cols = "";
		        
				for(i=0; i< data.length;i++) {
		            $('#productId_' + i).find('option').remove();
		        }			

		    	var i=0;
				//$('#productCapa_' + sel_pid).find('option').remove(); 

				if(data.length ==0) {
					
					$("table.doc-list").find('tr').remove();
				 	
				 	var newRow = $("<tr>");
			        
			       	cols += '<td>상품</td>';
					cols += '<td>용량</td>';
					cols += '<td>대여가격</td>';
					cols += '<td>판매(용기+가스)가격</td>';
					cols += '<td></td></tr>';

			        newRow.append(cols);
			        $("table.doc-list").append(newRow);
			        
			        totalCount =1 ;
			        
			        var newRow = $("<tr>");
					var cols = "";

					cols += '<td style="padding-left:0px;">';
					cols += '	<select class="form-control" id="productId_0" name="productId_0" style="width:160px"></select>'; 
					cols += '</td><td>';
					cols += '	<select class="form-control" id="productPriceSeq_0" name="productPriceSeq_0" style="width:100px"><option value=0>옵션</option></select> ';
					cols += '</td><td>';
					cols += '	<input type="text" class="form-control" id="productPrice_0" name="productPrice_0" " placeholder="가격">';
					cols += '</td><td>';
					cols += '	<input type="text" class="form-control" id="productBottlePrice_0" name="productBottlePrice_0" " placeholder="판매가격">';
					cols += '</td><td>';  
					cols += '	<input type="button" class="ibtnAddMod btn btn-md btn-info" id="mod_addrow" value="추가" />';
					cols += '</td>';
					cols +='</tr>';

					newRow.append(cols);
					$("table.doc-list").append(newRow);
					
					init_add(counter);
		            
		            init_mod_storage(counter);
		            
				}else {

				 	$("table.doc-list").find('tr').remove();
				 	
				 	var newRow = $("<tr>");
			        
			       	cols += '<td>상품</td>';
					cols += '<td>용량</td>';
					cols += '<td>가격</td>';
					cols += '<td>판매가격</td>';
					cols += '<td></td></tr>';

			        newRow.append(cols);
			        $("table.doc-list").append(newRow);
			        
					for(i=0; i< data.length;i++) {
  
						var newRow = $("<tr>");
				        
			            cols = "";
	
			            cols += '<td style="padding-left:0px;">';
			            cols += '<select class="form-control" id="productId_' + counter +  '" name="productId_' + counter + '" style="width:160px">' 
			            cols += '<option value="' + data[i].productId +'" selected>' + data[i].productNm + '</option>';
			            cols += '</select>';		          
			            cols += '</td><td>';
			            cols += ' <select class="form-control" id="productPriceSeq_' + counter + '" name="productPriceSeq_' + counter + '" style="width:100px">';
			            cols += '<option value="' + data[i].productPriceSeq +'" selected>' + data[i].productCapa + '</option>';
			            cols  += '</select> ';
			            cols += '</td><td>';
			            cols += ' <input type="text" id="productPrice_' + counter + '" name="productPrice_' + counter + '" class="form-control" value="' + data[i].productPrice + '">';		   
			            cols += '</td><td>';
			            cols += ' <input type="text" id="productBottlePrice_' + counter + '" name="productBottlePrice_' + counter + '" class="form-control" value="' + data[i].productBottlePrice + '">';		                         
			            cols += '</td><td>';		           
	
			            if (counter < 1){	
			              cols += ' <input type="button" class="ibtnAddMod btn btn-md btn-info" id="mod_addrow" value="추가" />';	
			            }else{	
			              cols += ' <input type="button" class="ibtnDelMod btn btn-md btn-danger" id="addrow" value="삭제" />';	
			            }
			            cols += '</td>';
			            cols +='</tr>';
	
			            newRow.append(cols);
			            $("table.doc-list").append(newRow);
			            
			            init_add(counter);
			            
			            init_mod_storage(counter);
	
			            mod_counter = counter;
			            
			            totalCount =counter;
			            counter++;
			            
					}
					totalCount = data.length;
				}
			})
			.fail(function(){
				console.log("fail");
			 });	

	});
   
});

</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>거래처 단가 등록</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">   
    	<!--  process modat1 start -->  
		<div class="modal modal-info fade" id="process-modal2">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
		             	<h4 class="modal-title">엑셀파일 등록</h4>
		              	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              	</button>
		            </div>
		
					<div class="modal-body">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12" >
							<div class="x_panel">
								
								<div class="x_content">
								<br />
								<div  class="card-body">
								<form id="form1" name="form1" method="post" action="/gms/price/uploadExcelFile"enctype="multipart/form-data">					              
									<table id="myTable" class="table order-info">
									<thead>
										<tr>
											<td class="card-footer">파일선택</td>
											<td  colspan=4><input type="file" id="fileInput" name="fileInput"> </td>
											<td> <div id="result"></td>
										</tr>										
									</thead>
									</table>								
													
									</form>
									<div class="ln_solid"></div>
														
									<div class="modal-footer justify-content-between">
						              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						              <a class="btn btn-info btn-sm" href="#" onclick="javascript:doExcelUploadProcess()();"><i class="fas fa-pencil-alt"></i>엑셀업로드</a>
						            </div>
									<div id="test_char">
									
									</div>
								</div>
							</div> <!-- X_content end -->
						</div>
					</div> <!-- /.x_panel end -->
				</div> <!-- / .col -->
			</div>
		</div> <!-- / . modal body -->
		</div>
		</div>
		<!-- /.modal -->
		<!--  process modat3 start -->  
		<div class="modal modal-info fade" id="process-modal3">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
		             	<h4 class="modal-title">엑셀파일 등록</h4>
		              	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              	</button>
		            </div>
		
					<div class="modal-body">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12" >
							<div class="x_panel">
								
								<div class="x_content">
								<br />
								<div  class="card-body">
								<form id="form3" name="form1" method="post" action="/gms/price/uploadExcelFileLn2"enctype="multipart/form-data">					              
									<table id="myTable" class="table order-info">
									<thead>
										<tr>
											<td class="card-footer">파일선택</td>
											<td  colspan=4><input type="file" id="fileInput" name="fileInput"> </td>
											<td> <div id="result"></td>
										</tr>										
									</thead>
									</table>								
													
									</form>
									<div class="ln_solid"></div>
														
									<div class="modal-footer justify-content-between">
						              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						              <a class="btn btn-info btn-sm" href="#" onclick="javascript:doExcelUploadProcessLn2()();"><i class="fas fa-pencil-alt"></i>엑셀업로드</a>
						            </div>
									<div id="test_char">
									
									</div>
								</div>
							</div> <!-- X_content end -->
						</div>
					</div> <!-- /.x_panel end -->
				</div> <!-- / .col -->
			</div>
		</div> <!-- / . modal body -->
		</div>
		</div>
		<!-- /.modal -->
		
        <div class="row">
    	
              <div class="col-1">
               	<label>거래처명</label> 
              </div>               
              <div class="col-4">
              <form id="mainForm" name=""mainForm"" th:action="@{/gms/price/write.do}" method="post">
              <select id="customerId" name="customerId" class="form-control">
	                      <option value="0">거래처 목록</option>
	                    	<option th:each="row : ${customerList}"
				                th:text="${row.customerNm}"
				                th:value="${row.customerId}"
				               >
				     </option>		
			    </select>	   
			   </div>
              <div class="col-2">
              	<input type="text" id="searchCustomerNm" name="searchCustomerNm" class="form-control" placeholder="search" th:value="${searchCustomerNm}">
              </div>               
              <div class="col-1">
                <button class="btn btn-navbar" type="submit">
		            <i class="fas fa-search"></i>
		          </button>
           		</form>
              </div>             
              <div class="col-2" align=right>
              	<a class="btn_select_process2 btn btn-primary btn-sm"  data-toggle="modal" data-target="#process-modal2" href="#"><i class="fas fa-upload"></i>엑셀등록</a>
              	</div>
         </div>
         <div class="row">	
	        <div class="col-10">
	        <table class="table table-hover">
	         </table>
	        </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="card">
             
              
             <!-- general form elements -->                        
              <!-- /.card-header -->
              <div class="col-10">
              <form name="writeForm" id="writeForm" class="form-horizontal" th:action="@{/gms/price/register.do}"  method="post" onsubmit="return validationOfForm(this)">
              <input type="hidden" id="priceCount" name="priceCount" value="">
              <input type="hidden" id="customerId1" name="customerId1" value="">
                <div class="form-group">	
			        <div class="col-10">
			        <table class="table table-hover">
			         </table>
			        </div>
		        </div>
                <div class="form-group">
                   <label class="control-label col-10">상품정보</label>
                   <div class="col-md-12 col-sm-10 col-xs-10">
                       <table id="myTable" class="table doc-list">
	                       <tr style="font-size:14px;">
	                         <td>상품</td>
	                         <td>용량</td>
	                         <td>대여가격</td>
	                         <td colspan=2>판매(용기+가스)가격</td>
	                         
	                       </tr>
	                       <tr>
	                       <td  style="padding-left: 0px;">                                           
	                         <select id="productId_0" name="productId_0" class="form-control" style="width:160px">
		                        
						    </select>	   
	                       </td>
	                       <td> 
	                       		<select id="productPriceSeq_0" name="productPriceSeq_0" class="form-control" style="width:100px">
			                        <option value="0">옵션</option>			                      	
							    </select>	 	                        
	                       </td>   
	                       <td> 
	                         <input type="text" class="form-control" id="productPrice_0" name="productPrice_0" placeholder="대여가격">
	                       </td> 
	                       <td> 
	                         <input type="text" class="form-control" id="productBottlePrice_0" name="productBottlePrice_0" placeholder="판매가격">
	                       </td>
	                       <td>
	                       	<input type="button" class="btn btn-default btn-success" id="addrow" value="추가" />	                       
	                       </td>
	                       </tr>
	                     </table>
                     </div>
                 </div>
                
              </div>
            </div>
            <!-- /.card -->
            
            <div class="card-footer">
            	
                 <a href="/gms/user/list.do" class="btn btn-secondary float-left">취소</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		         <input type="button" id="save" value="저장"  class="btn btn-success">
		         <a class="btn_select_process3 btn btn-primary btn-sm float-right"  data-toggle="modal" data-target="#process-modal3" href="#"><i class="fas fa-upload"></i>LN2엑셀등록</a>
               
               </div>	
            </form>             	
        </div>
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
 
  </th:block>
  

  