<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="gms/layout/basic">


<div class="wrapper">
<th:block layout:fragment="content"> 
<script type="text/javascript">

var isOkay = false;
$(document).ready(function(){
	$("#bottleId").on("focusout", function(){
		if($(this).val() != ""){
			checkName();
		}
	});
	
	
	
});
// 리스트 페이지 이동
var goList = function(){
	$("#listForm").submit();
};

// form 필드값 유효성 검사
var validation = function(){
	/*
	var customerNm = $("#customerNm").val();
	if(customerNm=="" || customerNm == null){
		alert("거래처명을 입력해 주세요.");
		$("#customerNm").focus();
		isOkay = false;
		return;
	}
	*/
	var result = (
				isValid(bottleId, "용기코드", null, null)
			&& isValid(bottleBarCd, "용기 바코드", null, null)
			&& isValid(bottleCreateDt, "제조일", null, null)			
			&& isValid(bottleChargeDt, "충전 기한", null, null)
	);
	
	if ( result === false ) {
		isOkay = false;
		return;
	}else{
		isOkay = true;
		return;
	}
	
	isOkay = true;
}

//서버에 버전 데이터 존재 여부 확인 요청
var checkName = function(){
	var bottleId = $("#bottleId").val();

	var ajaxInfo ={
		type:"POST",
		url:"/gms/bottle/CheckBottleId.do",
		data:{
			bottleId : bottleId
		},
		dataType: "json",
	};
	ajax = callAjax(ajaxInfo);
	ajax.done(function(data){
		if(data.result == "fail"){
			alert(data.message);
			$("#bottleId").val("");
			$("#bottleId").focus();
			isOkay = false;
			return;
		}
	});
};

//Ajax공통 호출
function callAjax(ajaxInfo){
	var dfd = $.Deferred();
	$.ajax(ajaxInfo).done(function(data){
		dfd.resolve(data);
	});
	
	return dfd.promise();
}


//숫자 여부 검사
function isNumber(input){
	var chars = "0123456789";
		return containsCharsOnly(input,chars);
};

function containsCharsOnly(input,chars) {
	input = String(input);
	for (var inx = 0; inx < input.length; inx++) {
		if (chars.indexOf(input.charAt(inx)) == -1) {
			return false;
		}else{
		}
	};
	return true;
};

// 입력된 내용을 작성한다.
var goWrite = function(){
	validation();
	
	//alert("isOkay=="+isOkay);
	if(!isOkay){
		return;
	}
	
	var form = $("#writeForm");	
	
	form.submit();
}

	$(function() { 
	  $('input[name="bottleCreateDt"]').daterangepicker({
	    singleDatePicker: true,
	    showDropdowns: true,
	    autoUpdateInput: false,
	    startDate: new Date(),
	      locale: {
	          cancelLabel: 'Clear'
	      }
	  });
	
	  $('input[name="bottleCreateDt"]').on('apply.daterangepicker', function(ev, picker) {
	      $(this).val(picker.startDate.format('YYYY/MM/DD'));
	  });
	
	  $('input[name="bottleCreateDt"]').on('cancel.daterangepicker', function(ev, picker) {
	      $(this).val('');
	  });
	  
	  $('input[name="bottleChargeDt"]').daterangepicker({
		    singleDatePicker: true,
		    showDropdowns: true,
		    autoUpdateInput: false,
		      locale: {
		          cancelLabel: 'Clear'
		      }
		  });
		
		  $('input[name="bottleChargeDt"]').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('YYYY/MM/DD'));
		  });
		
		  $('input[name="bottleChargeDt"]').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		  });
	});


$(document).ready(function(){ 
	
	$('#productId').change( function(){

		var productId = $('#productId').val();		
		initCapa(productId);
	});
	
	function initCapa(productId){
	      
		console.log(productId);      
		
		$.ajax({
			url: '/gms/product/priceList.do',
			type: 'POST',
			data: 'productId='+ productId ,
			dataType: 'json',

		 })
		.done(function(data){	           
		  
			console.log(data);     
			
	    	var i=0;
			
			for(i=0; i< data.length;i++) {
				console.log(data[i]);      
				$('#productPriceSeq').append('<option value='+data[i].productPriceSeq+'>'+data[i].productCapa+'</option>')				
			}			
		})
		.fail(function(){
			console.log("fail");
		 });

	} 

	
});

</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>용기 등록</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">   
        
        <div class="row">
          <div class="col-12">
            <div class="card">
              
             <!-- general form elements -->                        
              <!-- /.card-header -->
              <div class="col-8">
              <form id="writeForm" class="form-horizontal" th:action="@{/gms/bottle/register.do}" th:object="${bottle}" method="post" >
                <input type="hidden" id="gasId" name="gasId" value="">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="card-footer">용기 코드</th>
                      <th><input type="text" class="form-control" id="bottleId" name="bottleId" placeholder="용기 코드"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">용기 바코드</th>
                      <th><input type="text" class="form-control" id="bottleBarCd" name="bottleBarCd" placeholder="용기 바코드"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">가스</th>
                      <th>
                      <select id="productId" name="productId" class="form-control">
                          <option value="0">가스선택</option>				    
					        <option th:each="row : ${productList}"
					                th:text="${row.productNm}"
					                th:value="${row.productId}"
					               >
					        </option>					
                        </select>
					  </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">가스 용량</th>
                      <th>
                      <select id="productPriceSeq" name="productPriceSeq" class="form-control" >
	                        <option value="0">옵션</option>			                      	
					   </select>	                       
                    </tr>
                     <tr>                                   
                      <th class="card-footer">제조일</th>
                      <th><input type="text" class="form-control" id="bottleCreateDt" name="bottleCreateDt" placeholder="제조일"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">충전 기한</th>
                      <th><input type="text" class="form-control" id="bottleChargeDt" name="bottleChargeDt" placeholder="충전 기한"> </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">용기 체적</th>
                      <th><input type="text" class="form-control" id="bottleVolumn" name="bottleVolumn" placeholder="용기 체적"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">충전 압력</th>
                      <th><input type="text" class="form-control" id="bottleChargePrss" name="bottleChargePrss" placeholder="충전 압력"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">용기 소유</th>
                      <th>             
                      	<input type="radio" name="bottleSalesYn" id="bottleSalesYn" value="N" checked=""> 자사                                   
                      	<input type="radio" name="bottleSalesYn" id="bottleSalesYn" value="Y"> 타사     
					  </th>   
                    </tr>                   
                    
                  </thead>
                              
                </table>               
                
              </div>
            </div>
            
          
      		<div class="card-footer">
      			<div class="col-8">
                 <a href="/gms/bottle/list.do" class="btn btn-secondary float-left">취소</a>
		          <input type="button" value="저장" onclick="javascript:goWrite()" class="btn btn-success float-right">
                </div>		  
                </div>   		
            </form>   
          	<!-- /.col-12 -->
          </div>
        </div>      
        
        
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>
  

  